<footer>
    <div class="foot left">
        &copy;2019 &dash; <%- (new Date()).getFullYear() %>
        <a href="https://kiririn.io" target="_blank">Kiririn.io</a>
    </div>
    <div class="foot right">
        Source on
        <a href="https://gitlab.com/Timmy1e/what-should-we-play-on-steam" target="_blank">GitLab</a>
    </div>
</footer>
